<html>
<head>
<title> this is my page </title>
</head>
<body bgcolor="cyan">
<h2><b><i><center> these are the dragon ball characters:-</h1></b></i></center>
<hr>
<ol type="circle">
<li><h3><b><i> MASTERED ULTRA INSTINCT GOKU</h3></b></i>
<li><h3><b><i>ULTRA EGO VEGETA</h3></b></i>
<li><h3><b><i>BEAST GOHAN</h3></b></i>
<li><h3><b><i>GOGETA BLUE</h3></b></i>
<li><h3><b><i>VEGETO BLUE</h3></b></i>
<li><h3><b><i>GOD OF DESTRUCTION BEERUS</h3></b></i>
<li><h3><b><i>ORANGE PICOLO</h3></b></i>
<li><h3><b><i>JIREN(FULL POWER)</h3></b></i>
<li><h3><b><i>LEGENDERY SUPER SAIYAN BROLY</h3></b></i>
<li><h3><b><i>SUPER SAIYAN VEGETA BLUE EVOLUTION</h3></b></i>
<li><h3><b><i>SUPER SAIYAN GOD X KAIOKAINx100</h3></b></i>
<li><h3><b><i>SUPER SAIYAN GOD X SUPER SAIYAN GOKU</h3></b></i>
<li><h3><b><i>SUPER SAIYAN GOD X SUPER SAIYAN VEGETA</h3></b></i>
<li><h3><b><i>ULTIMATE FORM OF GOHAN</h3></b></i>
</ol>
</body>
</html>
